/*------------------------------------*\
  LOGIN
\*------------------------------------*/
div #login {
  width: 450px;
  margin: 0 auto;
	
	text-align: justify;
}

#login form {
  display: block;
  width: 350px;
  margin: 0 auto;
}

#login form label{
  display: block;
  width: 200px;
  margin: 0;
  
  float:left;
  clear: both;
}

#login form input{
	display: block;
  float: left;
  width: 150px;
  
  margin: 0;
  
  background-color:transparent;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom:1px solid #000;
  
  -moz-border-radius: ßpx;
  border-radius: 0px;
}

#login form #submit {
  display: block;
  clear: both;
  width: 350px;
  
  margin-top:1em;
  padding: 0.1em;
  
  background-color:transparent;
  border-top:1px solid #000;
  border-left:none;
  border-right:none;
  border-bottom:1px solid #000;
}

a {
  text-decoration: underline;
}