.locked { color: grey; }
html {
  height: 100%;
}
body, select, input, textarea {
  color: #444; /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  font-size: 12px;
  line-height: 2.4em;
  font-family: Georgia, Times, 'Times New Roman', serif;
  vertical-align: baseline;
}
#container {
  position: relative;
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  font-size: 12px;
}
a {
  color: #444;
}
abbr[title=und] {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', Constantia, 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  border-bottom: none;
}
h1 {
	font-size: 3em;
	margin-top: 1em;
	margin-bottom:0.5em;
	text-align: center;
}
h2 {
  font-size: 2.4em;
  text-align: center;
  
  margin-bottom:0.5em;
}
h3 {
  font-size: 1.8em;
  text-align: center;
}
p {
  margin: 1.5em 0;
  font-size: 1.6em;
}
ol {
  margin-left: 1.4em;
}

fieldset {
  margin-top: 2.4em;
}
form p {
  font-size: 1em;
}
legend, label, input, select, textarea {
  margin: 0 10px;
  padding: 0;
  font-size: 1.6em;
}
legend {
  display: block;
  padding-bottom: 0.6666667em;
  font-size: 1.8em;
}
label {
  display: block;
}
legend label {
  margin: 0;
  font-size: 1em;
}
.radio label[for] {
  display: inline;
  margin-left: 0;
}
input, textarea {
  line-height: 1em;
}
form nav {
  margin: 2.4em 0;
}

footer {
  clear: both;
  margin-bottom: 2.4em;
  padding-top: 2.3em;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* Navigation */
header {
  padding-top: 2.4em;
  padding-bottom: 2.3em;
  border-bottom: 1px solid #ccc;
}
header nav {
  overflow: hidden;
}
header nav ul{
  display: block;
}
header nav li {
  float: left;
  width: 137px;
}
header nav a {
  display: block;
  font-size: 1.5em;
}
header nav a:hover {
  text-decoration: underline;
}

/* Flashes */
div .notice {
    display: block;
    width: 100%;
    
    text-align: center;
    font-size: 1.6em;
    
    background-color: #F3F781;
    color: #000;
}

div .error {
    display: block;
    width: 100%;
    
    text-align: center;
    font-size: 1.6em;
    
    background-color: #880000;
    color: #fff;
}


/* Login */
div #login {
    width: 450px;
    margin: 0 auto;
    
    text-align: justify;
}

div #login form {
	display: block;
	width: 350px;
	margin: 0 auto;
}

div #login form label{
    display: block;
    width: 200px;
    margin: 0;
    
    float:left;
    clear: both;
}

div #login form input{
	display: block;
    float: left;
    width: 150px;
    
    margin: 0;
    
    background-color:transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #000;
}

div #login form #submit {
    display: block;
    clear: both;
    width: 350px;
    
    margin-top:1em;
    padding: 0.1em;
    
    background-color:transparent;
    border-top:1px solid #000;
    border-left:none;
    border-right:none;
    border-bottom:1px solid #000;
}

.globalError {
	display: block;
	margin: 0 auto;
	
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

.formError {
    display: block;
    margin: 0 auto;
    
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

/* Calls */
table {
	width: 80%;
    font-size: 1.5em;
    
    margin: 0 auto;
    margin-bottom: 2em;
}

table thead {
	background-color: #eee;
	
	border-bottom: 1px solid #000;
}

table td {
	padding-left: 1em;
	border-right: 1px solid #000;
}
table th {
    border-right: 1px solid #000;
}

table tr td:last-child {
    border: none;
}

table tr th:last-child {
    border: none;
}

table tfoot {
    background-color: #eee;
    
    font-weight: bold;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
